{% extends 'default.html' %}

{% load static %}


{% block head_link %}
    <link rel="stylesheet" href="{% static 'css/machines_list.css' %}" />
{% endblock %}


{% block title %}Поиск техники Силант{% endblock %}

{% block main %}
  <main>
      <div class="machine-search-form">
          <form id="machine-search-form" action="" method="get" class="filter-form">
              <div class="form-group">
                  <div class="form-input">
                      {{ filter.form.search.label_tag }}
                      {{ filter.form.search }}
                  </div>
              </div>

              <div class="form-group">
                  <div class="form-input">
                      {{ filter.form.machine_type.label_tag }}
                      {{ filter.form.machine_type }}
                  </div>
                  <div class="form-input">
                      {{ filter.form.engine_type.label_tag }}
                      {{ filter.form.engine_type }}
                  </div>
                  <div class="form-input">
                      {{ filter.form.transmission_type.label_tag }}
                      {{ filter.form.transmission_type }}
                  </div>
                  <div class="form-input">
                      {{ filter.form.drive_axle_type.label_tag }}
                      {{ filter.form.drive_axle_type }}
                  </div>
                  <div class="form-input">
                      {{ filter.form.steer_axle_type.label_tag }}
                      {{ filter.form.steer_axle_type }}
                  </div>
              </div>

              <button type="submit" id="filter-submit-btn" class="filter-submit-btn">Найти</button>
          </form>
      </div>

      <div class="machine-search-result">
        {% if machines %}
            <table class="machine-table">
                <thead>
                    <tr>
                        <th>Зав. номер</th>
                        <th>Модель техники</th>
                        <th>Модель двигателя</th>
                        <th>Зав. номер двигателя</th>
                        <th>Модель трансмиссии</th>
                        <th>Зав. номер трансмиссии</th>
                        <th>Модель ведущего моста</th>
                        <th>Зав. номер ведущего моста</th>
                        <th>Модель управляемого моста</th>
                        <th>Зав. номер управляемого моста</th>
                    </tr>
                </thead>
                <tbody>
                    {% for machine in machines %}
                        <tr>
                            <td>{{ machine.machine_serial_number }}</td>
                            <td>{{ machine.machine_type }}</td>
                            <td>{{ machine.engine_type }}</td>
                            <td>{{ machine.engine_serial_number }}</td>
                            <td>{{ machine.transmission_type }}</td>
                            <td>{{ machine.transmission_serial_number }}</td>
                            <td>{{ machine.drive_axle_type }}</td>
                            <td>{{ machine.drive_axle_serial_number }}</td>
                            <td>{{ machine.steer_axle_type }}</td>
                            <td>{{ machine.steer_axle_serial_number }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="padding: 20px;">Нет данных по выбранным фильтрам.</p>
        {% endif %}
      </div>
  </main>
{% endblock %}