{% extends 'default.html' %}

{% load static %}


{% block head_link %}
    <link rel="stylesheet" href="{% static 'css/account-creation-form.css' %}" />
    <style>
        main {
            height: 80dvh;
        }

        .account-form form {
            align-items: center;
        }
    </style>
{% endblock %}


{% block title %}Удаление {{ user.username }} {% endblock %}


{% block main %}
    <main>
        <div class="account-form-title">
            <h2 class="display-5 fw-bold text-sm-center">Удаление аккаунта</h2>
        </div>
        <div class="account-form">
            <form action="" method="post">
                {% csrf_token %}
                <p class="account-form-subtitle">Удаляем <span class="bold">{{ user.username }}?</span></p>
                <div>
                <input type="submit" value="Удалить" />
                </div>
            </form>
        </div>
    </main>
{% endblock %}
