{% extends 'default.html' %}


{% load static %}


{% block head_link %}
    <link rel="stylesheet" href="{% static 'css/account-detail.css' %}" />
{% endblock %}


{% block title %}{{ account.user.username }}{% endblock %}


{% block main %}
    <main>
        <div class="profile-left">
        </div>

        <div class="profile-info">
              <div class="profile-title">
                  Мастер
              </div>

              <div class="profile-fields">
                  {% if account.user.username %}
                  <div class="profile-field">
                    <div class="field-label">Логин</div>
                    <div class="field-value">{{ account.user.username }}</div>
                  </div>
                  {% endif %}

                  {% if account.user.first_name %}
                  <div class="profile-field">
                    <div class="field-label">Имя</div>
                    <div class="field-value">{{ account.user.first_name }}</div>
                  </div>
                  {% endif %}

                  {% if account.user.last_name %}
                  <div class="profile-field">
                    <div class="field-label">Фамилия</div>
                    <div class="field-value">{{ account.user.last_name }}</div>
                  </div>
                  {% endif %}

                  {% if account.phone_number %}
                  <div class="profile-field">
                    <div class="field-label">Номер телефона</div>
                    <div class="field-value">{{ account.phone_number }}</div>
                  </div>
                  {% endif %}

                  {% if account.user.email %}
                  <div class="profile-field">
                    <div class="field-label">Email</div>
                    <div class="field-value">{{ account.user.email }}</div>
                  </div>
                  {% endif %}

                  {% if account.telegram %}
                  <div class="profile-field">
                    <div class="field-label">Телеграм</div>
                    <div class="field-value">{{ account.telegram }}</div>
                  </div>
                  {% endif %}

                  {% if account.position %}
                  <div class="profile-field">
                    <div class="field-label">Должность</div>
                    <div class="field-value">{{ account.position }}</div>
                  </div>
                  {% endif %}
              </div>

              <div class="profile-btns">
                  {% if perms.accounts.change_service_master or perm.accounts.delete_account %}
                      <a href="{% url 'update_service_master' account.pk %}" class="profile-btn">
                          Редактировать
                      </a>
                      <a href="{% url 'delete_account' account.user.pk %}" class="profile-btn btn-delete">
                          Удалить
                      </a>
                  {% endif %}
              </div>
        </div>

        <div class="managed-entities">
              <div class="managed-block">
                <div class="managed-header">
                  <a href="#">
                    Ваша сервисная компания
                  </a>
                </div>
                <div class="managed-list">
                        <div class="managed-object">
                            <a href="{% url 'detail_service_company' account.service_company.pk %}">
                                {{ account.service_company }}
                            </a>
                        </div>
                </div>
              </div>
        </div>

        <div class="profile-right">
        </div>
      </main>

        <script>
          document.querySelectorAll('.managed-header').forEach(header => {
            header.addEventListener('click', () => {
              const block = header.parentElement;
              block.classList.toggle('active');
            });
          });
        </script>
    </main>
{% endblock %}