{% extends 'default.html' %}

{% load static %}


{% block head_link %}
    <link rel="stylesheet" href="{% static 'css/account-detail.css' %}" />
{% endblock %}


{% block title %}{{ account.user.username }}{% endblock %}


{% block main %}
    <main>
        <div class="profile-left">
        </div>

        <div class="profile-info">
              <div class="profile-title">
                  Клиент
              </div>

              <div class="profile-fields">
                  {% if account.user.username %}
                  <div class="profile-field">
                    <div class="field-label">Логин</div>
                    <div class="field-value">{{ account.user.username }}</div>
                  </div>
                  {% endif %}

                  {% if account.user.first_name %}
                  <div class="profile-field">
                    <div class="field-label">Имя</div>
                    <div class="field-value">{{ account.user.first_name }}</div>
                  </div>
                  {% endif %}

                  {% if account.user.last_name %}
                  <div class="profile-field">
                    <div class="field-label">Фамилия</div>
                    <div class="field-value">{{ account.user.last_name }}</div>
                  </div>
                  {% endif %}

                  {% if account.phone_number %}
                  <div class="profile-field">
                    <div class="field-label">Номер телефона</div>
                    <div class="field-value">{{ account.phone_number }}</div>
                  </div>
                  {% endif %}

                  {% if account.user.email %}
                  <div class="profile-field">
                    <div class="field-label">Email</div>
                    <div class="field-value">{{ account.user.email }}</div>
                  </div>
                  {% endif %}

                  {% if account.telegram %}
                  <div class="profile-field">
                    <div class="field-label">Телеграм</div>
                    <div class="field-value">{{ account.telegram }}</div>
                  </div>
                  {% endif %}

                  {% if account.name %}
                  <div class="profile-field">
                    <div class="field-label">Название компании</div>
                    <div class="field-value">{{ account.name }}</div>
                  </div>
                  {% endif %}
              </div>

              {% if perms.accounts.change_client or perm.accounts.delete_account %}
                  <div class="profile-btns">
                      <a href="{% url 'update_client' account.pk %}" class="profile-btn">
                          Редактировать
                      </a>
                      <a href="{% url 'delete_account' account.user.pk %}" class="profile-btn btn-delete">
                          Удалить
                      </a>
                  </div>
              {% endif %}
        </div>

        <div class="managed-entities">
            <div class="managed-block">
                <div class="managed-header">
                  <a href="#">
                    Ваш менеджер
                  </a>
                </div>
                <div class="managed-list">
                    <div class="managed-object">
                        <a href="{% url 'manager_detail' account.manager.pk %}"> {{ account.manager.user.username }}</a>
                    </div>
                </div>
              </div>

              <div class="managed-block">
                <div class="managed-header">
                  <a href="#">
                    Ваши машины
                  </a>
                </div>
                <div class="managed-list">
                  {% for machine in machines %}
                    <div class="managed-object">
                        <a href="{% url 'detail_machine' machine.pk %}">
                            {{ machine }}
                        </a>
                    </div>
                  {% endfor %}
                </div>
              </div>

              <div class="managed-block">
                <div class="managed-header">
                  <a href="#">
                    Сервисные компании
                  </a>
                </div>
                <div class="managed-list">
                    {% for service_company in service_companies %}
                        <div class="managed-object">
                            <a href="{% url 'detail_service_company' service_company.pk %}">
                                {{ service_company }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
              </div>
        </div>

        <div class="profile-right">
        </div>
      </main>

        <script>
          document.querySelectorAll('.managed-header').forEach(header => {
            header.addEventListener('click', () => {
              const block = header.parentElement;
              block.classList.toggle('active');
            });
          });
        </script>
    </main>
{% endblock %}