{% extends 'default.html' %}

{% load static %}


{% block head_link %}
    <link rel="stylesheet" href="{% static 'css/account-detail.css' %}" />
{% endblock %}


{% block title %}{{ account.user.username }}{% endblock %}


{% block main %}
  <main>
      <div class="profile-left">
      </div>

      <div class="profile-info">
          <div class="profile-title">
              Менеджер
          </div>

          <div class="profile-fields">
              {% if account.user.username %}
              <div class="profile-field">
                <div class="field-label">Логин</div>
                <div class="field-value">{{ account.user.username }}</div>
              </div>
              {% endif %}

              {% if account.user.first_name %}
              <div class="profile-field">
                <div class="field-label">Имя</div>
                <div class="field-value">{{ account.user.first_name }}</div>
              </div>
              {% endif %}

              {% if account.user.last_name %}
              <div class="profile-field">
                <div class="field-label">Фамилия</div>
                <div class="field-value">{{ account.user.last_name }}</div>
              </div>
              {% endif %}

              {% if account.phone_number %}
              <div class="profile-field">
                <div class="field-label">Номер телефона</div>
                <div class="field-value">{{ account.phone_number }}</div>
              </div>
              {% endif %}

              {% if account.user.email %}
              <div class="profile-field">
                <div class="field-label">Email</div>
                <div class="field-value">{{ account.user.email }}</div>
              </div>
              {% endif %}

              {% if account.telegram %}
              <div class="profile-field">
                <div class="field-label">Телеграм</div>
                <div class="field-value">{{ account.telegram }}</div>
              </div>
              {% endif %}

              {% if account.region %}
              <div class="profile-field">
                <div class="field-label">Регион</div>
                <div class="field-value">{{ account.region }}</div>
              </div>
              {% endif %}
          </div>

          <div class="profile-btns">
              <a href="{% url 'update_manager' account.pk %}" class="profile-btn">
                  Редактировать
              </a>
              <a href="{% url 'delete_account' account.user.pk %}" class="profile-btn btn-delete">
                  Удалить
              </a>
          </div>
      </div>

      <div class="managed-entities">
          <div class="managed-block">
            <div class="managed-header">
              <a href="#">
                Ваши клиенты
              </a>
            </div>
            <div class="managed-list">
              {% for client in clients %}
                <div class="managed-object">
                    <a href="{% url 'client_detail' client.pk %}"> {{ client }}</a>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="managed-block">
            <div class="managed-header">
              <a href="#">
                Сервисные компании
              </a>
            </div>
            <div class="managed-list">
                {% for service_company in service_companies %}
                    <div class="managed-object">
                        <a href="{% url 'detail_service_company' service_company.pk %}">
                            {{ service_company }}
                        </a>
                    </div>
                {% endfor %}
            </div>
          </div>
      </div>

      <div class="profile-right">
      </div>
  </main>

    <script>
      document.querySelectorAll('.managed-header').forEach(header => {
        header.addEventListener('click', () => {
          const block = header.parentElement;
          block.classList.toggle('active');
        });
      });
    </script>
{% endblock %}