{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}" />
    {% block head_link %}{% endblock %}
</head>
<body>
    <header class="navigation">
        {% include 'includes/navigation.html' %}
    </header>

    {% block main %}
    {% endblock %}

    <footer class="footer">
        <div class="footer-section">
          <p>+7 (8352) 20-12-09</p>
          <p>@telegram</p>
        </div>
        <div class="footer-section">
            © 2025 Мой Силант. Все права защищены.
        </div>
    </footer>
</body>
</html>